<div class="container text-center">
  <%= image_tag "spoder-man.png", class: "img-fluid spoderman" %>
  <h1 class="error-header mt-4">Oops, Something went wrong!</h1>
  <p class="error-p">Please try again later.</p>
</div>