<div class="container text-center">
  <%= image_tag "OMG-deadpool.png", class: "img-fluid deadpu" %>
  <h1 class="error-header mt-4">Oops, looks like you broke the internet!</h1>
  <p class="error-p">Just kidding :) Make sure you've entered the correct address or return <a href="/">home</a>.</p>
</div>